#articleJohn {
	float: left;
	width:  500px;
}

img {
	width: 200px;
}

.Article {
	width:  500px;
	background: mediumpurple;
	padding: 20px;
	margin:  10px;
	float: left;
}

.clear {
	clear:  both;
}